mixin pokemonCard(pokemon)
	div(class="pokemon-card pokemon-card--" + pokemon.types[0], data-id=pokemon.id, data-name=pokemon.name, data-legendary=pokemon.legendary)
		div(class="pokemon-card-info")
			div(class="pokemon-card-id")
				span= "#" + pokemon.id
				div(class="pokemon-card-image-wrapper float-right")
					img(class="pokemon-card-image", src="/images/pokemons/" + pokemon.id + ".png")
			h3(class="pokemon-card-title")
				span= pokemon.name
			div(class="pokemon-card-type-list") 
				each pokemon_type in pokemon.types
					span(class="pokemon-card-type pokemon-card-type--" + pokemon_type)= pokemon_type
		table(class="pokemon-card-stats")
			tr
				td(class="pokemon-card-stats-label")
					b ❤️HP
				td(class="pokemon-card-stats-value")= pokemon.hp
			tr
				td(class="pokemon-card-stats-label") 
					b ⚔️Attack
				td(class="pokemon-card-stats-value")= pokemon.attack
			tr
				td(class="pokemon-card-stats-label") 
					b 🛡️Defense
				td(class="pokemon-card-stats-value")= pokemon.defense
			tr
				td(class="pokemon-card-stats-label") 
					b ✨Special Attack
				td(class="pokemon-card-stats-value")= pokemon.sp_attack
			tr
				td(class="pokemon-card-stats-label") 
					b 💎Special Defense
				td(class="pokemon-card-stats-value")= pokemon.sp_defense
			tr
				td(class="pokemon-card-stats-label") 
					b ⚡ Speed
				td(class="pokemon-card-stats-value")= pokemon.speed